* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
font-family: 'Times New Roman', Georgia, serif;
line-height: 1.6;
background-color: #ffffff;
padding: 20px;
}

.container {
max-width: 800px;
margin: 0 auto;
}

.card {
background: #ffffff;
opacity: 1;
padding: 20px;
margin-bottom: 20px;
border-radius: 8px;
box-shadow: 0 2px 5px rgba(10,5,0,10);
}



h1 {
text-align: center;
margin-bottom: 10px;
}
h2 {
margin-bottom: 10px;
margin-top: 20px;

}
p {
margin-bottom: 10px;
}

ul {
margin-left: 20px;
margin-bottom: 10px;
}

a {
text-decoration: none;
color: #751ca8;
}

a:hover {
color: #51066e;
}

table {
width: 100%;
border-collapse: collapse;
margin-top: 10px;
}
th, td {
border: 1px solid #ccc;
padding: 8px;
}
th {
background-color: #593e69;
color: white;
}

form {
display: flex;
flex-direction: column;
gap: 2px;
}

input, textarea {
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
}

button {
padding: 10px;
background-color: #593e69;
color: white;
border: none;
cursor: pointer;
}

button:hover {
background-color: #51066e;
}

.dark-mode {
    background-color:#8f6897;
    color:rgb(146, 113, 143);
}

.dark-mode .card {
    background-color:#000000;
    color:rgb(228, 223, 227);
}
.hidden {
    display:none;
}

.card img {
    border-radius: 50%;
}