/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* FULL HEIGHT FIX FOR REACT */
html, body, #root {
  height: 100%;
}

/* LIGHT MODE (DEFAULT) */
body {
  font-family: "Georgia", serif;
  line-height: 1.6;
  min-height: 100vh;

  background-image: url("/img/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  padding: 20px;
}

/* CONTAINER */
.container {
  max-width: 800px;
  margin: 0 auto;
  background: transparent;
}

/* CARD STYLE */
.card {
  background: rgba(245, 222, 179, 0.6);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(200, 180, 150, 0.4);
  color: #4b3621;
}

/* PROFILE IMAGE */
.card img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* HEADINGS */
h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font-family: cursive;
  margin: 20px 0 10px;
}

/* TEXT */
p {
  margin-bottom: 10px;
}

ul {
  margin-left: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #73573b;
}

a:hover {
  color: #361b01;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border: 1px solid #4b3621;
}

th, td {
  border: 2px solid #4b3621;
  padding: 8px;
}

th {
  background-color: #4b3621;
  color: #f5e6c8;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #67523c;
  border-radius: 4px;
  background-color: #f5e6c8;
  font-family: "Georgia", serif;
}

button {
  padding: 10px;
  background-color: #4b3621;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #302112;
}

/* DARK MODE */
body.dark-mode {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("/img/bg.jpeg");
}

body.dark-mode .card {
  background: rgba(53, 42, 18, 0.675);
  color: #e8d0b6;
  border: 1px solid rgba(53, 3, 3, 0.4);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

body.dark-mode th {
  background-color: #e8d0b6;
  color: #4b3621;
}

body.dark-mode a {
  color: #d8bfa3;
}

body.dark-mode input,
body.dark-mode textarea {
  background-color: rgba(55, 44, 20, 0.71);
  border: 1px solid #e8d0b6;
  color: #e8d0b6;
}

body.dark-mode button {
  background-color: #e8d0b6;
  color: #4b3621;
}

.hidden {
  display: none;
}