* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Georgia", serif;
  line-height: 1.6;
  background-color: #ffffff;
  padding: 20px;
  background: url("../images/bg.jpeg") no-repeat center center fixed;
  background-size: cover;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background: transparent;
}

.card {
  background: rgba(245, 222, 179, 0.6);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(200, 180, 150, 0.4);
  color: #4b3621;
}

.card img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

html, body {
  height: 100%;
}

h1 {
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 10px;
}
h2 {
  font-family: cursive;
  margin-bottom: 10px;
  margin-top: 20px;
}

p {
  margin-bottom: 10px;
}

ul {
  margin-left: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #73573b;
}

a:hover {
  color: #361b01;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border: 1px solid #4b3621;
}

th, td {
  border: 2px solid #4b3621;
  padding: 8px;
}

th {
  background-color: #4b3621;
  color: #f5e6c8;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #67523c;
  border-radius: 4px;
  background-color: #f5e6c8;
  font-family: "Georgia", serif;
}

button {
  padding: 10px;
  background-color: #4b3621;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #302112;
}

/* --------- DARK MODE (PUT LAST) --------------- */
body.dark-mode {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../images/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body.dark-mode .card {
  background: rgba(53, 42, 18, 0.675);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #e8d0b6b7;
  border: 1px solid rgba(53, 3, 3, 0.4);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

body.dark-mode th,
body.dark-mode td {
  border: 1px solid rgba(232, 208, 182, 0.4);
  padding: 8px;
}

body.dark-mode th {
  background-color: #e8d0b6b7;
  color: #4b3621;
}

body.dark-mode a {
  color: #57432db7;
}

body.dark-mode a:hover {
  color: #6c533b;
}

body.dark-mode input,
body.dark-mode textarea {
  background-color: rgba(55, 44, 20, 0.71);
  border: 1px solid #e8d0b6b7;
  color: #e8d0b6b7;
}

body.dark-mode input::placeholder,
body.dark-mode textarea::placeholder {
  color: #e8d0b6b7;
}

body.dark-mode button {
  background-color: #e8d0b6b7;
  color: #4b3621;
}

body.dark-mode button:hover {
  background-color: #6c533b;
}

.hidden {
  display: none;
}